{% extends 'base.html.twig' %}

{% block title %}Term{% endblock %}

{% block body %}
    <h1>Term</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ term.id }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ term.num }}</td>
            </tr>
            <tr>
                <th>Date_start</th>
                <td>{{ term.dateStart ? term.dateStart|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_end</th>
                <td>{{ term.dateEnd ? term.dateEnd|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_term_index') }}">back to list</a>

    <a href="{{ path('app_term_edit', {'id': term.id}) }}">edit</a>

    {{ include('term/_delete_form.html.twig') }}
{% endblock %}
