{% extends 'base.html.twig' %}

{% block title %}EducationGroup index{% endblock %}

{% block body %}
    <h1>EducationGroup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Course</th>
                <th>Num</th>
                <th>Subnum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education_group in education_groups %}
            <tr>
                <td>{{ education_group.id }}</td>
                <td>{{ education_group.course }}</td>
                <td>{{ education_group.num }}</td>
                <td>{{ education_group.subnum }}</td>
                <td>
                    <a href="{{ path('app_education_group_show', {'id': education_group.id}) }}">show</a>
                    <a href="{{ path('app_education_group_edit', {'id': education_group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_education_group_new') }}">Create new</a>
{% endblock %}
