{% extends 'base.html.twig' %}

{% block title %}EducationGroup{% endblock %}

{% block body %}
    <h1>EducationGroup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education_group.id }}</td>
            </tr>
            <tr>
                <th>Course</th>
                <td>{{ education_group.course }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ education_group.num }}</td>
            </tr>
            <tr>
                <th>Subnum</th>
                <td>{{ education_group.subnum }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_education_group_index') }}">back to list</a>

    <a href="{{ path('app_education_group_edit', {'id': education_group.id}) }}">edit</a>

    {{ include('education_group/_delete_form.html.twig') }}
{% endblock %}
